body{  
    background: #cfc4c4;  
    color: #080505;  
    font-family: Arial, Helvetica, sans-serif;  
    font-size: 3em;  
    text-align: center;  
  }  
  canvas{  
    border:solid 0.2em rgb(244, 10, 10);  
    height:90vh;  
  } 